/* reset do css */
* {
	margin:0;
	padding:0;
	box-sizing: border-box; /* tamanho dos elementos */
}
body {
    background-image:url(../imagens/fundo.jpg);
    /*background-size:1200px 1100px;*/
    background-size:auto 100vh; /* auto mantém a proporção horizontal; vh valor absoluto da tela --> viewport */
    font-family: arial;
    height:100vh;
	font-size:10px;
  }

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
/* breakpoint */
@media (min-width:400px) {
	body {
		font-size:14px;
	}
}

@media (min-width:600px) {
	body {
		font-size:18px;
	}
}

@media (min-width:1200px) {
	body {
		font-size:20px;
		background-image:none;
		background-color:brown;
	}
}

header {
	height:100vh; /* Pode-se colocar 50vh */
	display:flex; /* Vira coluna */
	justify-content:center;
	align-items: center; /* esta e a de cima só funciona por causa do display: flex */
}

.menu {
background-color:white; 
position:fixed; /* inserido depois do header/display:flex */
width:100vh; /* idem acima */
top:0; /* deixa o menu encostado na parte superior */
}
a {
text-decoration: none; 
}
a:hover{ /* pseudo-classe */ 
 text-decoration: underline;
}
.menu ul {
display:flex; /* Fica em coluna. Se fosse colocado em li, ficaria um abaixo do outro */ 
justify-content: space-around; /* espaço entre as palavras (colunas) ou space-between*/
}

.menu li { /* seletor hieráquico  */
list-style: none;
}

.menu a{
	color:#f00;
	display:inline; /* estava block */
	padding:10px 20px;
}

/* parei 30min. */

.site-subtitle,
.site-title{
text-align: center;
color:whitesmoke;
}

.site-title {
	font-size:4em;
}

.site-subtitle{
font-style: italic
}

.img-portfolio {
	width:278px;
	height:162px;
}